@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.hero_container {
  width: 100%;
  padding: 90px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 30px;
}
@media (min-width: 640px) {
  .hero_container {
    flex-direction: row-reverse;
    padding: 170px 0 100px 0;
  }
}
.hero_container .hero_img {
  width: 200px;
}
@media (min-width: 640px) {
  .hero_container .hero_img {
    width: 300px;
  }
}
@media (min-width: 769px) {
  .hero_container .hero_img {
    width: 390px;
  }
}
.hero_container .hero_img img {
  width: 100%;
}
.hero_container .hero_content {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 640px) {
  .hero_container .hero_content {
    align-items: start;
  }
}
.hero_container .hero_content span {
  font-family: "Unbounded";
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  width: 250px;
}
@media (min-width: 640px) {
  .hero_container .hero_content span {
    text-align: start;
    font-size: 48px;
    width: 300px;
  }
}
@media (min-width: 769px) {
  .hero_container .hero_content span {
    font-size: 56px;
    width: 400px;
  }
}
.hero_container .hero_content p {
  font-family: "Montserrat";
  text-align: center;
  font-size: 10px;
  width: 250px;
}
@media (min-width: 640px) {
  .hero_container .hero_content p {
    text-align: start;
    font-size: 12px;
    width: 300px;
  }
}
.hero_container .hero_content a button {
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  font-family: "Unbounded";
  font-weight: 900;
  background-color: #FFD537;
  color: #023047;
  margin-top: 20px;
}

.about_container {
  width: 100%;
  background-color: #219EBC;
  padding: 30px 0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
@media (min-width: 769px) {
  .about_container {
    flex-direction: row;
    padding: 60px 0;
  }
}
.about_container .team_img {
  width: 230px;
}
@media (min-width: 769px) {
  .about_container .team_img {
    width: 30%;
  }
}
.about_container .team_img img {
  width: 100%;
}
.about_container .about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .about_container .about_content {
    width: 50%;
  }
}
.about_container .about_content h3 {
  font-family: "Unbounded";
  font-weight: 900;
  color: white;
  font-size: 24px;
  text-align: center;
  width: 170px;
  margin: 20px;
}
@media (min-width: 640px) {
  .about_container .about_content h3 {
    width: auto;
  }
}
@media (min-width: 769px) {
  .about_container .about_content h3 {
    font-size: 36px;
  }
}
.about_container .about_content p {
  font-family: "Montserrat";
  text-align: center;
  width: 90%;
}
@media (min-width: 769px) {
  .about_container .about_content p {
    text-align: start;
  }
}

.courses_container {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px 0;
}
.courses_container h3 {
  font-family: "Unbounded";
  font-weight: 900;
  font-size: 36px;
}
.courses_container .course_list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.courses_container .course_list .course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #219EBC;
  position: relative;
  border-radius: 24px;
  width: 170px;
  height: 250px;
  z-index: 0;
}
.courses_container .course_list .course .course_icon {
  width: 100px;
}
.courses_container .course_list .course .course_icon img {
  width: 100%;
}
.courses_container .course_list .course p {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
}
.courses_container .course_list .course a button {
  padding: 10px 20px;
  border-radius: 60px;
  border: none;
  background-color: #FFD537;
  cursor: pointer;
}/*# sourceMappingURL=home_style.css.map */