@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$primary : #023047;
$secondary : #219EBC;
$dark : #1C1C1C;
$accent : #FFD537;
$white : #ffff;
$heading : "Unbounded";
$para : "Montserrat";
$regular : 400;
$medium : 500;
$semibold : 600;
$bold : 700;
$extra_bold : 900;